:root {
    /* fonts */
    --font-raleway: Raleway;
    --font-family-raleway: Raleway;
  
    /* Colors */
    --color-1: #EBE3E0;
    --color-2: #0d0c62;
    --color-1-t: #EBE3E0;
    --color-2-t: #0d0c62;
    --color-accent-1: #ffffff;

    /* font sizes */
    --font-size-s: 24px;
    --font-size-m: 32px;
    --font-size-l: 54px;
    --font-size-xl: 60px;
  

    /* border radiuses */
    --br-sm: 20px;
    --br-md: 30px;
    --br-lg: 38px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-2);
<<<<<<< HEAD
}
=======
}
>>>>>>> ac3054143e23cff39b674f4ade391e1876856f1b
