:root {
    /* fonts */
    --font-raleway: Raleway;
    --font-family-raleway: Raleway;
  
    /* Colors */
    --color-1: #EBE3E0;
    --color-2: #0d0c62;
    --color-1-t: #EBE3E0;
    --color-2-t: #0d0c62;
    --color-accent-1: #ffffff;

    /* font sizes */
    --font-size-xs: 20px;
    --font-size-s: 24px;
    --font-size-m: 32px;
    --font-size-l: 54px;
    --font-size-xl: 60px;
  

    /* border radiuses */
    --br-sm: 20px;
    --br-md: 30px;
    --br-lg: 38px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Custom Scrollbar*/
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-2);
}


/*======================
    404 page
=======================*/


.page_404{ 
  padding:40px 0; 
  background:#fff; 
  font-family: 'Arvo', serif;
}

.page_404  img{ 
  width:100%;
}

.four_zero_four_bg{
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
 
 
.four_zero_four_bg h1{
  font-size:80px;
}
 
.four_zero_four_bg h3{
  font-size:80px;
}
			 
.link_404{			 
  color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404{ 
  margin-top:-50px;
}