html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--color-1);
      
}

.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.navv {
    position: fixed;
    background-color: var(--color-2);
    top: 10px;
    padding: 12px;
    width:90%;
    margin-left: 5%;
    border-radius: 15px;
    
}

.navv > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}



.navv > ul  li {
    display: inline-block;
    transition : all 0.3s ease 0s;
}

.navv li a {
    transition:all 0.3s ease 0s;
    font-size: var(--font-size-m) ;

}

.navv > ul li:hover {
    transform: scale(1.08);
    
}

.navv a  {
    color: var(--color-accent-1);
    margin: 0 20px;
    text-decoration: none;
}

.navv:nth-child(1) {
    justify-self: flex-start;
}



.features{
    margin-top: 70px;
    align-items: center;
    border: solid;
    border-color: red;
    display:flex;
    width:90%;
    margin-left: 5%;
}


.features > div {
    border: solid;
    border-color: blue;
}


.darkmode{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.colors p {
    border-radius: 25px;
    background: var(--color-2);
    padding: 8px; 
    width: 48px;
    height: auto;
    color: var(--color-accent-1);  
}

#bvn {
    border-radius: 25px;
    background: var(--color-2);
    padding: 8px; 
    width: 135px;
    height: auto;
    color: var(--color-accent-1);  
}

div.firstrow>div{
    height:500px;
    width:350px;
    border-radius: 31px;
    background: var(--color-accent-1);
    background: linear-gradient(315deg, rgba(235,227,224,0.5) 0%, rgba(13,12,98,0.5) 100%);
    border-color:  var(--color-2) ; 
    border-style: solid;
}

div.secondrow>div{
    height:500px;
    width:350px;
    border-radius: 31px;
    background: var(--color-accent-1);
    background: linear-gradient(315deg, rgba(235,227,224,0.5) 0%, rgba(13,12,98,0.5) 100%);
    border-color:  var(--color-2) ; 
    border-style: solid;
}


#uk{
    width: 50px;
}

#moon{
    width: 50px;
}

#palette{
    width: 50px;
}

#download{
    width: 50px;
}

#creation{ 
    width: 250px;
}

#mail{ 
    width: 50px;
}
#phone{ 
    width: 50px;
}




.separator{
    width: 100%;
    height: 10px;
    background: var(--color-2);
    margin-top: 50px;
    margin-bottom: 50px;
}

#photo{
    display:flex;
    width: 500px;
    height: 500px;
    background-color: var(--color-2);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -150px;
}







/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    border:solid;
    border-color: var(--color-2);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border:solid;
    border-color: var(--color-2);
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-2);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }