html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--color-1);
      
}

.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.navv {
    position: fixed;
    background-color: var(--color-2);
    top: 10px;
    padding: 12px;
    width:90%;
    margin-left: 5%;
    border-radius: 15px;
    
}

.navv > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}



.navv > ul  li {
    display: inline-block;
    transition : all 0.3s ease 0s;
}

.navv li a {
    transition:all 0.3s ease 0s;
    font-size: var(--font-size-m) ;

}

.navv > ul li:hover {
    transform: scale(1.08);
    
}

.navv a  {
    color: var(--color-accent-1);
    margin: 0 20px;
    text-decoration: none;
}

.navv:nth-child(1) {
    justify-self: flex-start;
}



.features{
    width: 80%;
    padding-top: 70px;
    display: flex;
    align-items: center;
  }



#colors {
    border-radius: 25px;
    background: var(--color-2);
    padding: 8px; 
    width: 48px;
    height: auto;
    color: var(--color-accent-1);  
}

#bvn {
    border-radius: 25px;
    background: var(--color-2);
    padding: 8px; 
    width: 135px;
    height: auto;
    color: var(--color-accent-1);  
}

div.firstrow>div{
    height:500px;
    width:350px;
    border-radius: 31px;
    background: var(--color-accent-1);
    background: linear-gradient(315deg, rgba(235,227,224,0.5) 0%, rgba(13,12,98,0.5) 100%);
    border-color:  var(--color-2) ; 
    border-style: solid;
}

div.secondrow>div{
    height:500px;
    width:350px;
    border-radius: 31px;
    background: var(--color-accent-1);
    background: linear-gradient(315deg, rgba(235,227,224,0.5) 0%, rgba(13,12,98,0.5) 100%);
    border-color:  var(--color-2) ; 
    border-style: solid;
}


#uk{
    width: 50px;
}

#moon{
    width: 50px;
}

#palette{
    width: 50px;
}

#download{
    width: 50px;
}

#creation{ 
    width: 250px;
}

#mail{ 
    width: 50px;
}
#phone{ 
    width: 50px;
}
  

.separator{
    width: 100%;
    height: 10px;
    background: var(--color-2);
    margin-top: 50px;
    margin-bottom: 50px;
}

#photo{
    display:flex;
    width: 500px;
    height: 500px;
    background-color: var(--color-2);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -150px;
}







.switch {
    display: flex;
    /* Rounded border */
    border-radius: 9999px;
    /* Size */
    height: 2rem;
    width: 4rem;
    /* Demo */
    margin-bottom: 0.5rem;
}

.switch__input {
    /* Hide the input */
    display: none;
}

.switch__circle {
    /* Rounded border */
    border-radius: 9999px;
    /* Size */
    width: 2rem;
    background-color: var(--color-1);
}


/* OFF status */
.switch--off {
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
}
.switch--off .switch__circle {
    border: 1px solid var(--color-2);
}